body {
    user-select: none;
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Safari and Chrome */
    -ms-user-select: none;
    /* IE 10+ */
}

@media print {
    * {
        display: none;
    }
}